@using AlloyDemo.Controllers
@using System.Web.Optimization
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Register Personas</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span12">

                <h2>Register Personas</h2>

                @using (Html.BeginForm("/", "RegisterPersonas", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="control-group">
                        <p>
                            Are you sure that you want to create the following groups and users, and assign access rights to them?
                        </p>
                        <h4>Users and their roles</h4>
                        <ul>
                            @foreach (RegisterPersonasController.UserAndRoles user in RegisterPersonasController.Users)
                            {
                                <li>
                                    @user.UserName will be added to these roles:
                                    <ul>
                                        @foreach(string role in user.Roles)
                                        {
                                            <li>@role</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    if (ViewData["message"] != null)
                    {
                        <div class="alert alert-success">
                            @ViewData["message"]
                        </div>
                        <div>
                            <a href="/">Take me to the Start page.</a>
                        </div>
                    }
                    else
                    {
                    <div class="control-group">
                        <input name="submit" type="submit" class="" value="Yes, do it!" />
                    </div>
                    }
                    <div>
                        <a href="/EPiServer/CMS">Log me in to Episerver CMS.</a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

